<mat-toolbar color="primary">
    <span>BluePrintF - Alexandre Froehlich</span>
    <span class="example-spacer"></span>
    <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="refreshCode()"
    >
        <mat-icon>refresh</mat-icon>
    </button>
    <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="uploadFile()"
    >
        <mat-icon>upload</mat-icon>
        <input
            type="file"
            id="file-upload"
            (change)="sendFile($event.target)"
            style="display: none"
        />
    </button>
    <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        (click)="saveGraph()"
    >
        <mat-icon>save</mat-icon>
    </button>
</mat-toolbar>

<div class="main-container">
    <div class="left-container">
        <node-graph></node-graph>
    </div>
    <div class="right-container">
        <pre>{{ code_content }}</pre>
    </div>
</div>
